body{
    background-color: #F3F7EC !important;
    padding-top: 5vw;
}

.title{
    font-size: 4vw;
    margin-bottom: 2vw;
    text-align: center;
    font-family: 'extravaganzza', sans-serif;                                               
}

.title2{
    font-size: 4vw;
    margin-bottom: 2vw;
    text-align: center;
    font-family: 'extravaganzza', sans-serif;
}

.form-control{
    width: 30% !important;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.subtitle{
    font-family: 'extravaganzza', sans-serif 
}

.btn{
    background-color: #476d79 !important;
    border-color: transparent !important;
}

.btn-group{
    text-decoration: none;
}

.links{
    color: #F3F7EC;
}

.geral1{
    text-align: center ;
    margin-top: 6vw;
}

a:visited:hover, a:link:hover{
    color: white;
}
