body{
    background-color: #F3F7EC !important;
    padding-top: 5vw;
}

.title{
    font-size: 4vw;
    margin-bottom: 2vw;
    text-align: center;
    font-family: 'extravaganzza', sans-serif;                                               
}

.navbar{
    margin-left: 40vw;
}
